*{
    box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}



.Calculator-container{
   background-color: #fff;
   width: 24rem;
}

.myh1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
    text-align: center;
    -webkit-text-fill-color:#000;
    -webkit-text-stroke: 3px white;
    font-size: 3em;
    background-color: hsl(35, 100%, 55%);
}
#typeValue{
    padding: 50px;
    width: 100%;
    border: none;
    background: #000;
    font-size: 2em;
    height: 1rem;
   
    color: #fff;
 
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,0.1fr);
    gap:0.8rem;
    padding: 20px 10px;
    background-color: #000;
   
   
}

button{
    padding: 20px;
    border-radius: 50%;
    border: none;
    font-size:large;
    /* color: #fff; */
    cursor: pointer;
    font-weight: bold;
    width: 5rem;
    height: 4rem;

}

button:hover{
    background-color:rgba(128, 128, 128, 0.582);
    color: #fff;

}
button:active{
    background-color: gray;
}
.operators{
   background-color:hsl(35, 100%, 55%);
}
.operators:hover{
    background-color:hsl(35, 100%, 70%) ;
}
.operators:active{
 background-color:hsl(35, 100%, 55%);
}

#operators{
    background: #fff;
    color:black;
}
#operators:hover{
    background: #ffffff45;
}
#operators:active{
    background: #ffffffb7;
}